.btn1 {
  padding: 10px;
  border: 1px solid #206e46;
  border-radius: 50px;
  gap: 50px;
  width: 120px;
}

.navbar-brand {
  margin-left: 105px;
}

.nav-item {
  font-size: 16px;
  font-weight: 600;
}

.nav-item .nav-link:hover {
  color: #31b471;
}

.btn1:hover {
  color: white;
  background-color: #a9cf46;
  border: none;
}

.btn2 {
  padding: 10px;
  border: none;
  border-radius: 50px;
  gap: 50px;
  width: 120px;
  color: white;
  background-color: #a9cf46;
  /* margin-right: 15px; */
}

.btn2:hover {
  color: white;
  background-color: #206e46;
  border: none;
}

.buttons {
  display: flex;
  gap: 10px;
}
.hero1 .form-control{
  background: transparent;
  color: white;
}
.hero {
  background-color: #206e46;
  /* background-color: black; */

  h1 {
    height: 50px;
    color: white;
  }

  p {
    height: 66px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: white;
  }

  img {
    float: right;
    margin-top: 20px;
  }
}

.hero-text {
  padding-block: 6rem;
}
/* 
.dropdown button {
    color: white;
    border: 1px solid white;
    margin-top: 50px;
    width: 130px;
}


.dropdown button:hover {
  color: white;
} */

.search button {
  color: #206e46;
  background: white;
  width: 100px;
}

.hero1 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 50px;
}

.form-group {
  width: 100px;
  /* background-color: red; */
}

.card {
  border: 1px solid #a9cf46 !important;
  border-radius: 10px !important;
}

.card:hover {
  background-color: #a8cf4691;
}

.sec {
  display: flex;
  gap: 10px;
  height: 30px;
}

.card-title {
  color: #206e46;
  font-size: 24px;
}

.Frist {
  margin-top: 6rem;
}

.next {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.next p span {
  color: #206e46;
}

.actives {
  width: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #206e46;
  border-radius: 10px;
}

.map h1 {
  color: #31b471;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.footer {
  background-color: #206e46; /* Adjust background color as needed */
  padding: 20px 0;
  color: white;
  margin-top: 50px;
  position: absolute;
  bottom: 0;
}

.footer1 {
  background-color: #206e46; /* Adjust background color as needed */
  padding: 20px 0;
  color: white;
  margin-top: 50px;
  width: 100%;
  /* position: absolute;
  bottom: 0; */
}

.footer p {
  margin: 10px auto;
  font-size: 16px;
}

.footer .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.footer .icons a {
  text-decoration: none;
}

.footer .icons i {
  color: #206e46;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.footer .icons i:hover {
  background-color: transparent;
  border: 2px solid white;
  color: #fff;
}

.footer1 p {
  margin: 10px auto;
  font-size: 16px;
}

.footer1 .icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.footer1 .icons a {
  text-decoration: none;
}

.footer1 .icons i {
  color: #206e46;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.footer1 .icons i:hover {
  background-color: transparent;
  border: 2px solid white;
  color: #fff;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  /* background-color: #fff; */
}

.apply-hero {
  background-color: #206E46;
  color: white;
  padding-block: 4rem;
  margin-bottom: 50px;
}

.apply-hero button {
  padding: 10px;
  border-radius: 40px;
  width: 120px;
  margin-top: 10px;
  background-color: #fff;
  color: #206E46;
}

.apply-hero button:hover {
  background-color: transparent;
  border: 1px solid white;
}

.apply-hero p {
  float: right;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
  width: fit-content;
}

.apply-hero2 h1 {
  font-size: 18px;
  color: #206E46;
}

.job .offer h4 {
  color: #206e46;
  margin-bottom: 20px;
  font-size: 28px;
}

.job .offer .spam {
  display: flex;
  flex-direction: row;
}

.job .application h4 {
  color: #206E46;
  font-size: 28px;
}

.job {
  margin-top: 50px;
}

.job .test {
  display: flex;
  justify-content: space-between;
}

.highlight {
  color: #f44336;
}

.job .form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
  /* width: 100%; */
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 14px;
  background-color: transparent;
  box-shadow: none;
}

.offer ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-control1:focus {
  border-bottom: 2px solid #007bff;
  outline: none;
  box-shadow: none; 
  border: none;
}

.job form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 768px) {
  .navbar-brand {
    margin-left: 0;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-text {
    padding-block: 3rem;
  }

  .hero img {
    margin-top: 0;
    float: none;
  }

  .hero1 {
    padding-top: 5rem;
  }

  .sec {
    display: block;
    gap: 10px;
    height: 55px;
  }

  .Frist {
    margin-top: 3rem;
  }

  .next {
    padding-top: 10px;
  }


  .footer1 p {
    display: flex;
    justify-content: center;
  }

  .footer1 .icons i {
    margin-top: 0;
  }

  .footer1 .icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .footer1 {
    position: absolute;
  }

  .footer p {
    display: flex;
    justify-content: center;
  }

  .footer .icons i {
    margin-top: 0;
  }

  .footer .icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .apply-hero p {
    margin-top: 10px;
    float: left;
  }

  .apply-hero2 h1 {
    font-size: 18px;
    color: #206E46;
  }

  .job .offer h4 {
    color: #206e46;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
  }
  
  .job .application h4 {
    color: #206E46;
    font-size: 25px;
    margin-top: 10px;
  }

  .size {
    font-size: 15px;
  }
}

@media (width: 344px) {
  .hero h1 {
    height: 75px;
  }

  .next {
    padding-top: 10px;
    gap: 15px;
  }
}

@media (width: 768px) {
  .hero h1 {
    height: 90px;
  }
}

@media (width: 820px) {
  .hero h1 {
    height: 90px;
  }

  .hero img {
    float: right;
  }

  .hero1 {
    padding-top: 6rem;
  }
}


.body {
  background-color: #faffeb;
}

.signup-form {
  background-color: white;
  border-radius: 0;
  padding: 30px;
  max-width: 550px;
  margin: 50px auto;
}

.signup-form h2 {
  color: #206e46;
}

.signup-form p {
  color: #0000004d;
}

.form-group {
  margin-top: 20px;
  width: auto;
}

.signup-form button {
  margin-top: 30px;
}

.button .signup-btn {
  border: 1px solid #31b471;
  background-color: #31b471;
  color: white;
  padding: 15px;
  width: 466px;
  /* margin-bottom: 30px; */
  /* height: 47px; */
}

.button2 .google-btn {
  border: 1px solid #31b471;
  background-color: transparent;
  color: black;
  padding: 15px;
  width: 466px;
  /* margin-bottom: 30px; */
  /* height: 47px; */
}

.button2 .google-btn {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.forget .all {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.remember1 .forget1 .all {
  display: flex;
  gap: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/*  */
.signin {
  color: #31b471;
  border-bottom: 1px solid #31b471;
  text-decoration: none;
}

.remember .hmm {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.remember .bug a {
  color: #31b471;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  border-bottom: 1px solid #31b471;
}
.remember1 .bug a {
  color: #31b471;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  border-bottom: 1px solid #31b471;
}
.remember1 {
  margin-top: 10px;
}

.signup-form .otp-input {
  width: 80px;
  height: 80px;
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.signup-form .otp-input:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25);
}

@media (max-width: 767px) {
  .signup-form {
    max-width: 350px;
    margin: 15px auto;
  }

  .button .signup-btn {
    width: 267px;
  }

  .remember {
    display: flex;
    flex-direction: row !important;
    gap: 10px;
    margin-top: 10px;
  }

  .button2 .google-btn {
    width: 267px;
  }

  .signup-form .otp-input {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }
  .signup-form h2 {
    font-size: 25px;
  }

  .form-group .form-control-lg {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .signup-form {
    max-width: 320px;
    margin: 15px auto;
    padding: 15px;
  }

  .button .signup-btn {
    width: 267px;
  }
}
